:root {
    line-height: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#board {
    display: inline-block;
    padding: 20px;
}

#piece-container {
    padding: 20px;
    float: right;
    width: 40vw;
    height: 80%;
}

.piece {
    position: absolute;
}

table {
    border-spacing: 0;
}

.cell {
    border: 1px solid grey;
    padding: 0;
}

#original {
    line-height: normal;
    top: 0;
    position: fixed;
}

#original img {
    margin-left: 20px;
    display: none;
    width: 45vw;
}

#original:hover img {
    display: block;
}